.navbar{
	padding-top:20px;
	padding-bottom:20px;
}

.navbar-brand{
	margin-left:30px;
	font-size:25px;
	color:white;
}
.navbar-brand:hover{
	transition:0.3s;
	color:gray;
}

.nav-link{
	font-size:20px;
	color:white;
}
.nav-link:hover{
	color:gray;
}

.intro {
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
}

#cards{
	padding:15px;
	margin-bottom:30px;
}

#cards:hover{
	box-shadow: 1px 1px 8px gray;
}

#h3gerencia{
	margin-bottom:10px;
}

#cadastro label{
	margin-top:10px;
}

#cardComent, #cardCentral{
	padding:15px;
	margin-bottom:30px;
}

#cardCentral{
	margin-top:60px;
}

#forms label{
	margin-top:10px;
}

#botao{
	margin-top:15px;
}

#h2gerencia{
	margin-bottom:30px;
}

#postagem{
	padding:15px;
	margin-top:30px;
	margin-bottom:30px;
	
}

#redirectConta{
		margin-top: 10px;
		color: red;
	}

.redireciona:link, .redireciona:hover, .redireciona:active, .redireciona:visited{
	text-decoration:none;
	color:black;	
}