.navbar{
    background-color: #6300CC;
    padding:10px;
}

.navbar-brand:hover{
    transition: 0.3s;
    color:black;
}

.navbar-brand, .nav-link{
    color:#ffffff;
}

.card{
    padding: 10px;
    margin-top: 30px;
}

#titulo{
    margin-top: 30px;
    text-align: center;
}

#btnCadastrar, #btnAlterar, #btnExcluir{
    margin-top: 10px;
}

#btnAlterar, #btnExcluir{
    display:none;
}