.numeros{
    margin: 5px;
}

.geral h2, h3{
    margin-top: 10px;
}

.pagamento{
    margin-bottom: 10px;
}

.cards{
    margin-top:10px;
    padding: 10px;
}

.texto_radio{
    font-size:12px;
}

.p_lanchonete{
    margin-left: 5px;
}

.produtos h5{
    margin-bottom: 10px;
}

footer p{
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
}