<app-produto></app-produto>

<!-- <h1>Chamando a variável texto: {{texto}}</h1>
<h1>{{366/3+2*6}}</h1> -->

<!-- diretivas  (receber e enviar dados entre html e TS e executar funções)-->
<!-- ()   > quando o html precisa enviar/executar algo do TS -->
<!-- []   > quando o TS precisa enviar/executar algo do html -->
<!-- [()] > quando há comunicação entre HTML e TS (via de mão dupla) -->

<!-- <button (click)="mensagem()">danonao</button>

<hr>

<button (click)="exibirOcultar()">Exibir/Ocultar</button>
<div class="quadrado" *ngIf="exibir"></div>

<hr>

<ul>
  <li *ngFor="let n of nomes; index as i">{{i+1}} - {{n}}</li>
</ul>

<hr>

<table>
  <tr *ngFor = "let c of clientes; index as i">
    <td>{{i+1}}</td>
    <td>{{c.nome}}</td>
    <td>{{c.idade}}</td>
  </tr>
</table> -->
